<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body background="/img/weather bg9.jpg">
    <div class="main-content">
        {{>header}}
        <p>This Site is Created by Manish Kumar.</p>
        <img class="portrait" src="/img/mk.jpg"> 
        <p>The Data is fecthed from mapbox to get longitude and latitude.</p>
        <p>And forcast data is fecthed from weatherstack.</p> 
    </div>
    
    {{>footer}}
</body>

</html>